<font color="blue" size ="6"><b>APPLIED MACHINE LEARNING</b></font>

<font color="blue" size ="6"><b>Create a sample dataset and apply pre-processing techniques</b></font>

In [1]:
import pandas as pd
import numpy as np

data = {
    "Age": [25, 30, np.nan, 45, 35],
    "Income": [50000, 60000, 52000, np.nan, 58000],
    "Gender": ["Male", "Female", "Female", "Male", "Other"],
    "Purchased": ["Yes", "No", "Yes", "No", "Yes"]
}

df = pd.DataFrame(data)
print(df)

    Age   Income  Gender Purchased
0  25.0  50000.0    Male       Yes
1  30.0  60000.0  Female        No
2   NaN  52000.0  Female       Yes
3  45.0      NaN    Male        No
4  35.0  58000.0   Other       Yes

<font color="red" size="5" ><b>Pre-processing Techniques</font>

In [2]:
#A. Handle Missing Values
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Income"].fillna(df["Income"].mean(), inplace=True)

In [3]:
#B. Encode Categorical Variables
#Label Encoding (for binary or yes/no)
df["Purchased"] = df["Purchased"].map({"Yes": 1, "No": 0})

In [4]:
#One-Hot Encoding for Gender
df = pd.get_dummies(df, columns=["Gender"], drop_first=True)

In [5]:
#C. Feature Scaling
#Standardization (Z-score scaling)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[["Age", "Income"]] = scaler.fit_transform(df[["Age", "Income"]])

In [6]:
#D. Normalization (Optional)
from sklearn.preprocessing import MinMaxScaler

normalizer = MinMaxScaler()
df[["Age", "Income"]] = normalizer.fit_transform(df[["Age", "Income"]])

In [7]:
df

      Age  Income  Purchased  Gender_Male  Gender_Other
0  0.0000     0.0          1         True         False
1  0.2500     1.0          0        False         False
2  0.4375     0.2          1        False         False
3  1.0000     0.5          0         True         False
4  0.5000     0.8          1        False          True